logs
*.log
.DS_Store

npm-debug.log*
node_modules

.nyc_output
coverage
coverage.*

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist
/docs-dist

# misc
.DS_Store

# umi
.umi
.umi-production
.umi-test
.env.local